[depends]

main = base/main

[groups]

main =
    css/datacomparison-custom.css
    css/dataTables-2.0.4.min.css
    css/searchBuilder.dataTables-1.7.1.min.css
    js/datacomparison.js
    js/dataTables-2.0.4.min.js
    js/dataTables.searchBuilder-1.7.1.min.js
    js/jquery.csv-1.0.21.min.js
    js/jquery-3.7.0.min.js
    js/plotly.2.31.1.min.js
