[depends]

main = base/main

[groups]

main =
    css/datacomparison-custom.css
    css/jquery.dataTables-1.13.8.min.css
    css/searchBuilder.dataTables-1.6.0.min.css
    js/datacomparison.js
    js/dataTables.searchBuilder-1.6.0.min.js
    js/jquery.csv-1.0.21.min.js
    js/jquery.dataTables-1.13.8.min.js
    js/jquery-3.7.0.min.js
    js/plotly.2.29.1.min.js
