{% extends "dataexplorer.jinja2" %}

{% block comparison %}
    <div class="mb-3 py-2">
        <form id="dataset2">
            <b>Original resource</b><br>
            <label class="mr-2 text-xs" for="res1label">Label:</label>
            <input class="mr-4" style="border: 1px solid #aaa; border-radius: 3px;" type="text" id="res1label" name="res1label" size="12" placeholder="name">
            <br><br>
            <b>Second resource</b><br>
            <label class="mr-2 text-xs" for="res2label">Label:</label>
            <input class="mr-4" style="border: 1px solid #aaa; border-radius: 3px;" type="text" id="res2label" name="res2label" size="12" placeholder="name">
            <label class="mr-2 text-xs" for="res2">URL:</label>
            <input class="mr-4" style="border: 1px solid #aaa; border-radius: 3px;" type="text" id="res2" name="res2" size="80" placeholder="URL for file">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-1 rounded focus:outline-none focus:shadow-outline" type="submit">Add resource</button>
        </form>
    </div>
{% endblock %}
